* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
}


header {
  width: 100%;
  height: 100vh;
  background-image: url("Mediclg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.mainheader {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(168, 229, 255, 0.788);
  padding-left: 650px;
}

.mainheader nav {
  width: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  padding-left: 50px;
}

.mainheader nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 20px;
}

.mainheader nav a:hover {
  color: #d81687;
  padding-top: 40px;
}

.images img {
  display: inline-block;
  margin-left: 3%;
  margin-right: auto;
  width: 20%;
  padding-top: 25%;
  border-radius: 5%;
}

.menubtn {
  margin-right: 60px;
  padding-top: 20px;
}

.mainheader button {
  padding: 10px 45px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  /* border: none; */
  background-image: repeating-linear-gradient(
    45deg,
    #00ffff2e 92%,
    #ffffff00 100%
  );
  border-radius: 10px;
}

.mainheader button:hover {
  background-size: 50%;
  background-image: repeating-linear-gradient(
      315deg,
      #00ffff2e 92%,
      #073aff00 100%
    ),
    repeating-radial-gradient(
      75% 75% at 238% 218%,
      #00ffff12 30%,
      #073aff14 39%
    ),
    radial-gradient(
      99% 99% at 109% 2%,
      #00c9ffff 0%,
      #073aff00 100%
    ),
    radial-gradient(
      99% 99% at 21% 78%,
      #7b00ffff 0%,
      #073aff00 100%
    ),
    radial-gradient(
      160% 154% at 711px -303px,
      #2000ffff 0%,
      #073affff 100%
    );
}

main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .right-sec {
  padding-right: 60px;
  font-size: larger;
  padding-right: 50px;
  font-style: normal;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: inherit;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-rendering: optimizeLegibility;
}

main .right-sec.p {
  font-size: inherit;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-align: right;
}

main .left-sec {
  padding-left: 100px;
  padding-top: 0px;
  padding-bottom: 40px;
}

.left-sec h2 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: lighter;
  color: #ffffff;
  margin-top: 100px;
}

.left-sec h1 {
  font-size: 55px;
  text-transform: capitalize;
  font-weight: 700;
  margin: 15px 0;
}

.left-sec p {
  margin-bottom: 20px;
  font-size: x-large;
}

.left-sec button {
  padding: 15px 55px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  /* border: none; */
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: repeating-linear-gradient(
    45deg,
    #00ffff2e 92%,
    #ffffff00 100%
  );
  border-radius: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-size: 100%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.left-sec button:hover {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: repeating-linear-gradient(
      315deg,
      #00ffff2e 92%,
      #073aff00 100%
    ),
    repeating-radial-gradient(
      75% 75% at 238% 218%,
      #00ffff12 30%,
      #073aff14 39%
    ),
    radial-gradient(
      99% 99% at 109% 2%,
      #00c9ffff 0%,
      #073aff00 100%
    ),
    radial-gradient(
      99% 99% at 21% 78%,
      #7b00ffff 0%,
      #073aff00 100%
    ),
    radial-gradient(
      160% 154% at 711px -303px,
      #2000ffff 0%,
      #073affff 100%
    );
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #000000d7;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  display: block;
  transition: all 0.3s ease
}